body {
  background-color: white;
  font-family: "Poppins", sans-serif;
}

.weather-app {
  background: #eaf2f8;
  max-width: 600px;
  margin: 30px auto;
  /* box-shadow: 0 30px 50px rgba(65, 50, 100, 0.12); */
  border-radius: 13px;
  padding: 20px;
}

header {
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0 30px 0;
}

a {
  color: #5f9ea0;
  text-decoration: none;
}

.search-form-input {
  background-color: #f0fff0;
  border: none;
  border-radius: 6px;
  width: 65%;
  padding: 15px 20px;
  font-size: 15px;
}

.search-form-button {
  background-color: #5f9ea0;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  padding: 15px 27px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 200ms ease;
}

.search-form-button:hover {
  background-color: #4b8b89;
}

main {
  padding: 10px 0 10px 0;
}

.weather-app-city {
  font-size: 50px;
  font-weight: 600;
  margin: 0;
  line-height: 70px;
}

.weather-app-details {
  font-size: 16px;
  line-height: 25px;
  font-weight: 200;
}

.weather-app-details strong {
  font-weight: 400;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-temp-container {
  display: flex;
}

.weather-app-icon {
  font-size: 44px;
  margin-top: 20px;
}

.weather-app-temp {
  font-size: 75px;
  margin-left: 10px;
}

.weather-app-unit {
  font-size: 24px;
  margin-top: 18px;
}

footer {
  border-top: 1px solid #e0e0e0;
  padding: 15px 0 0 0;
  font-size: 13px;
  font-weight: 200;
  text-align: center;
}
